.contenedorFlexAple{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 0px;
    gap: 30px;
    cursor: pointer;
    flex-wrap: wrap;
}


.contenedorImgAple{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
   
}

.contenedorImgPequenas{
    display: flex;
    flex-direction: column;
    gap:20px; 


}

.contenedorImgPequenas img{
    width: 120px;
    height: 120px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
    overflow: hidden;
}

.contenedorImgGrande{
    width: 400px;
    height: 400px;
}


.contenedorInfoAple{
    width: 400px;
}

.precioFlex{
    justify-content: start;
}

.contenedorFlexAple .info{
    font-size: 20px;
    line-height: 1.2;
    padding: 10px 0px;
}

.flexMetodoPagos{
    display: flex;
    gap: 15px;
    margin: 10px 0px;
    margin-bottom: 20px;
}

.flexMetodoPagos img{
    width: 40px;
}
.contador{
    display: flex;
    align-items: center;
    gap: 2px; 
    width: 100%;
    margin-top: 10px;
    
}
.contador .btn{
    background-color: black;
    color: white;
    width: 40px;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contador-numero{
    height: 26.4px;
    width: 100%;
    text-align: center;
}

.agregarCarro{
    width: 100%;
    border: none;
    padding: 10px 0px;
    border-radius: 5px;
    margin: 10px 0px;
    background-color: red;
    color: white;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.agregarCarro:hover{
    background: linear-gradient(to right, #CC0000, #FF0000);
    color: white;
    transition: background .3s ease, color .3s ease;

}

/*Seccion actica*/
img.selected-active{
    border: 2px solid red;
    opacity: 1;
}


@media (max-width:1100px ) {
    .contenedorFlexAple{
        gap: 15px;
    }
 .contenedorImgGrande{
    width: 350px;
    height: 350px;
 }
 .contenedorInfoAple{
    width: 370px;
 }

 .contenedorImgPequenas img{
    width: 100px;
    height: 100px;
 }
}


@media (max-width:500px ) {
    .contenedorImgAple{
        flex-wrap: wrap;
    }

    .contenedorImgPequenas{
        flex-direction: row;

    }
}

@media (max-width:400px ) {
 .contenedorImgPequenas img{
    width: 80px;
    height: 80px;
 }
 .contenedorImgGrande{
    width: 100%;
    height: 100%;
 }
}