
.bg-resenas{
    background-color: #f5f5f5;
    padding: 50px 0px;
}
.flexResenas{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
    margin: 40px 0px;
}

.resenas{
    width: 300px;
    padding: 15px 20px;
    border: 2px solid #3A7BBA;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.resenas .nomCliente{
    font-size: 18px;
    font-weight: 600;
}

.resenas .nomCliente i{
    color: #31C950;
    font-size: 18px;
}


.resenas .descripcion{
    line-height: 1.3;
    color: #737373;
    font-size: 15px;
    padding: 5px 0px;
}


.flextituloFlecha{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.flexArrows{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.arrowIcon{
    border: 1px solid #3A7BBA;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    color: blue;
  
}

.arrowIcon:hover{
  background-color: #3A7BBA;
  color: white;

  transition: background-color .3s ease, color .3s ease;

}
