* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
a{
    color:black;
}
html {
    scroll-behavior: smooth;  /* Hace que el scroll sea suave en toda la página */
}
body {
     font-family: "Poppins", sans-serif;
}

.w100{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0px 10px;
}

.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    width: 100%;





     position: fixed;  /* Fija el menú en la pantalla */
    top: 0;           /* Lo coloca en la parte superior */
    left: 0;          /* Alineado a la izquierda */
    width: 100%;      /* Ancho completo */
    z-index: 1000;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}

.logo img {
    height: 30px;
}

.btn-categorias  {
    background-color: #e30613;
    color: #fff;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    
}
.btn-categorias a{
    color: white;
}

.menu-icon {
    font-size: 18px;
}

.search-box {
    flex: 1;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-box input {
    flex: 1;
    border: none;
    padding: 8px;
}

.search-box button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
}

.user-links {
    display: flex;
    align-items: center;
    gap: 15px;
}

.user-links a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cart-icon {
    font-size: 20px;
}

.mobile-menu-btn {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

/* Menú móvil */
.mobile-menu {
    display: none;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border-top: 1px solid #ddd;
}

.mobile-menu a {
    padding: 10px 0;
    color: #333;
    text-decoration: none;
    border-bottom: 1px solid #ddd;
}






/* Responsive  menu de navegacion*/
@media screen and (max-width: 768px) {
    .search-box {
        display: none;
    }
    .btn-categorias {
        display: none;
    }
    .user-links {
        display: none;
    }
    .mobile-menu-btn {
        display: block;
    }
}
